*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #151515;
}

body{
    overflow-x: hidden;
}
#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 1px solid #ffffff9e;
    position: fixed;
    z-index: 99999;
    mix-blend-mode: difference;
    /* To bring mouse position in centre of circle */
    transform: translate(-50%,-50%); 
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B ;
    padding: 25vh 10vw;
}

.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    gap: 3vw ;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: silk serif;
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

#loader h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

#loader h2{
    font-size: 5vw;
    /* background-color: red; */
    text-transform: uppercase;
    font-weight: 500;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

@keyframes anime{
    0%{
        font-family:"plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 400;
        opacity: 1;
    }
    47%{
        font-family:"plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}


#main{
    position: relative;
    background-color: #151515;
    height: fit-content;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.5vw;
    /* background-color: yellowgreen; */
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1.3vw;
    font-weight:350
}

.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    /* background-color: red; */
    overflow-y: hidden;
    position: relative;
    z-index: 999;
}

.hero:nth-child(2){
    margin-top: 14vh;
}

.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
    /* background-color: rgb(0, 255, 81); */
}

#hero1::after{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    right: 35%;
    top: 1%;
} 

.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    transition: all ease 0.3;
}

.hero h2:hover{
    -webkit-text-stroke: 1px  #fff;
    color: transparent;
    font-weight: 500;
    border-bottom:0.5vw solid #ffffff00;
}


/* -------------------------------------------------- */
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 17vh;
    margin-top: 30vh;
    background-color: #151515;
    /* background-color: red; */
    
}

#video-container{
    height: 67vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-color: red;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-cursor{
    background-color: #FFA63D;
    height: 8.5vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top: -10;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 17vh 2vw;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}

#page3 .underline{
    height: 0.1vh;
    width: 70%;
    background-color: #fff;
    margin-left: 28%;
}

#image-div-cotainer{
    /* background: red; */
    padding: 6vw;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* margin-top: 10vh; */
    gap: 4vw;
}

.image-div{
    height: 30vw;
    position: relative;
    overflow: hidden;
    width: 22vw;
    background-color: blue;
    /* flex-shrink: 0; */
}

.image-div:nth-child(1){
    height: 25vw;
    width: 22vw;
    margin-bottom: 11vh;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    position: relative;
}

.page3-circle1 .button__arrow{
    height: 30%;
}

.page3-circle2{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-left: 7vw; */
}

.page3-circle2 .button__arrow{
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
}

.circle-in p{
    font-size: 0.95vw;
    color: #000;
    font-weight: 500;
    width: 60%;
    scale: 0;
    transition: all ease 0.5s;
    /* transition-delay: 0.5s; */
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 10vh;
    margin-top: 5%;
}

#page4-content{
    width: 65vw;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}

#page4-content .underline{
    height: 0.1vh;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 1vw;
    width: 29%;
    margin-left: 1vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 4vw 2vw;
    position: relative;
    margin-top: -33vh;
    margin-left: 25vw;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

.blue-div-elem p{
    width: 40%;
    font-size: 0.9vw;
}

#page5{
    /* background-color: red; */
    min-height: 110vh;
    width: 100%;
    position: relative;
    margin-top: 35%;
}

.elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vw;
}

.elem h1{
    font-size:7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: animee;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vw;
}

.elem2 h1{
    font-size:7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: animeee;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes animee{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }

}

@keyframes animeee{
    from{
        transform: translateX(calc(-100% - 20px));
    }
    to{
        transform: translateX(0);
    }

}

.elem span{
    font-family: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span{
    font-family: italic;
    font-family: "silk serif";
    color: transparent;
}

#footer{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(0, 68, 255); */
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
    margin-top: 23% ;
}


#footer h1{
    font-size: 8vw;
    text-transform: uppercase;
    position: relative;
    margin-top: 13vh;
    transition: all ease 0.3;
    /* background-color: blue; */
}

#footer h1:hover{
    -webkit-text-stroke: 1px  #fff;
    font-style: italic;
    color: transparent;
    font-weight: 500;
    border-bottom:0.5vw solid #ffffff00;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}

.underline{
    height: 0.1vh;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
}

#footer-div{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 3vw;
    margin-bottom: 6vw;
}

#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box{
    width: 20%;
}
#footer-div h5{
    font-size: 1.2vw;
    font-weight: 500;
}

#footer>h5{
    font-weight: 500;
    font-size: 1vw;
}

._canvas_container{
    z-index: 99999 !important;
    pointer-events: none;
}

#flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(-50%,-50%);
}

#hero3{
    /* background-color: red; */
    z-index: 999;
    position: relative;
}

